div.zebra > div:nth-child(even) {
        background-color: #ffffff;
}

div.zebra a {
        color: #24588b;
}

table.zebra tr:nth-child(odd) th,
table.zebra tr:nth-child(odd) td {
        background-color: #EAF2D3;
}

table.zebra tr:nth-child(even) th,
table.zebra tr:nth-child(even) td {
        background-color: #ffffff;
}

table.zebra_reverse tr:nth-child(odd) th,
table.zebra_reverse tr:nth-child(odd) td {
        background-color: #ffffff;
}

table.zebra_reverse tr:nth-child(even) th,
table.zebra_reverse tr:nth-child(even) td {
        background-color: #EAF2D3;
}

table.zebra tr.zebraOdd th,
table.zebra tr.zebraOdd td {
        background-color: #EAF2D3;
}

table.zebra tr.zebraEven th,
table.zebra tr.zebraEven td {
        background-color: #ffffff;
}

table.zebra_reverse tr.zebraOdd th,
table.zebra_reverse tr.zebraOdd td {
        background-color: #ffffff;
}

table.zebra_reverse tr.zebraEven th,
table.zebra_reverse tr.zebraEven td {
        background-color: #EAF2D3;
}

table.zebra tr:nth-child(odd) td.reverse,
table.zebra tr.zebraOdd td.reverse {
        background-color: #ffffff;
}
table.zebra tr:nth-child(even) td.reverse,
table.zebra tr.zebraEven td.reverse {
        background-color: #EAF2D3;
}

table td.select:hover { 
        font-weight: bold; 
        color: #FF0000 
}
a.select:hover { 
        font-weight: bold; 
        color: #FF0000 
}
a.select { 
        color: #0000FF;
} 
table td.select { 
        color: #0000FF;
} 
table td,table th {
        padding:3px 7px 2px 7px;
}

table.zebra tr th.veldnaam   {
        text-align:left; 
        padding-top:5px; 
        padding-bottom:4px; 
        background-color:#009300; 
        color:#ffffff;
}
table.zebra tr th.titel { 
        font-weight: bold; 
        background-color:#009300; 
        color:#ffffff;
}
table.zebra tr td div.locked {
        background-color:#FF0000;
}
table.zebra tr td.vervallen{
        background-color:#FF0000;
}

table.zebra tr td.pkmlevel0,
table.zebra tr td.trans110804, 
table.zebra tr td.niet_in_pkm, 
table.zebra tr td.temptesten{
        background-color:#660000;
        color:#ffffff;
}

table.zebra tr td.ovch{
        background-color:#EEEEEE;
}
