td.select:hover { 
    font-weight: bold; 
    color: #FF0000 
}
a.select:hover { 
    font-weight: bold; 
        color: #FF0000 
}
a.select { 
    color: #0000FF;
} 
td.select { 
    color: #0000FF;
} 
td, th {
    padding:3px 7px 2px 7px;
}
th.veldnaam   {
    text-align:left; 
    padding-top:5px; 
    padding-bottom:4px; 
    background-color:#009300; 
    color:#ffffff;
}
th.titel { 
    font-weight: bold; 
    background-color:#009300; 
    color:#ffffff;
}
tr.alt td {
    background-color:#EAF2D3;
}
tr td div.locked {
    background-color:#FF0000;
}
tr td.vervallen{
    background-color:#FF0000;
}
tr td.trans110804{
    background-color:#440000;
}
tr td.niet_in_pkm{
    background-color:#660000;
    color:#ffffff;
}
tr td.pkmcte110819{
}
tr td.temptesten{
    background-color:#660000;
    color:#ffffff;
}
tr td.pkmlevel0{
    background-color:#EEEEEE;
}
tr td.msimp110901{
}
tr td.trans110804{
    background-color:#EEEEEE;
}
tr td.pkmim110618{
    background-color:#666600;
}
tr td.pkmim110713{
}
tr td.wo_ccy_027{
    background-color:#EEEEEE;
}
tr td.pkim110802{
    background-color:#cccccc;
}
tr td.ovch{
    background-color:#EEEEEE;
}


div.zebra > div:nth-child(even) {
background-color: #ffffff;
}
div.zebra a {
color: #24588b;
}
table.zebra, table.zebra_reverse {
border-collapse: collapse;
font-size: 12px;
width: 100%;
margin: 15px 0;
}
table.zebra_reverse {
margin:0px;
border:none;
}
table.zebra tr:nth-child(odd) th,
table.zebra tr:nth-child(odd) td {
background-color: #eeeeee;
}
table.zebra tr:nth-child(even) th,
table.zebra tr:nth-child(even) td {
background-color: #ffffff;
}
table.zebra_reverse th,
table.zebra th,
table.zebra_reverse td,
table.zebra td {
padding: 2px 4px;
}
table.zebra_reverse tr:nth-child(odd) th,
table.zebra_reverse tr:nth-child(odd) td {
background-color: #ffffff;
}
table.zebra_reverse tr:nth-child(even) th,
table.zebra_reverse tr:nth-child(even) td {
background-color: #eeeeee;
}
/* Classen für die Trs für IEs, die
nth-child(odd) noch nicht können */
table.zebra tr.zebraOdd th,
table.zebra tr.zebraOdd td {
background-color: #eeeeee;
}
table.zebra tr.zebraEven th,
table.zebra tr.zebraEven td {
background-color: #ffffff;
}
table.zebra_reverse tr.zebraOdd th,
table.zebra_reverse tr.zebraOdd td {
background-color: #ffffff;
}
table.zebra_reverse tr.zebraEven th,
table.zebra_reverse tr.zebraEven td {
background-color: #eeeeee;
}
/*Zum Setzen bestimmter Zeilen auf Weiss*/
table.zebra tr:nth-child(odd) td.reverse,
table.zebra tr.zebraOdd td.reverse {
background-color: #ffffff;
}
table.zebra tr:nth-child(even) td.reverse,
table.zebra tr.zebraEven td.reverse {
background-color: #eeeeee;
}

table.zebra {
width: 80%;
margin: auto;
}
