<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mfvl.trac.client"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto"
          android:versionCode="90"
          android:versionName="@string/app_version">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/traclogo"
        android:label="@string/app_name"
        android:restoreNeedsApplication="false"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <!-- meta-data
            android:name="com.mfvl.trac.client.testDevices"
            android:value="@string/testDevice1"/ -->

        <activity
            android:name=".TracTitlescreenActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Test for URL scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="trac.client.mfvl.com"/>
                <data android:pathPrefix="/"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tracclients"/>
                <data android:scheme="tracclient"/>
            </intent-filter>
            <!-- End Test for URL scheme -->
        </activity>

        <activity
            android:name=".TracStart"
            android:label="@string/app_name"
            android:theme="@style/MyStyle"
            tools:ignore="GoogleAppIndexingWarning">>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Refresh"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.mfvl.trac.client.RefreshService.refreshAction"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".TracShowWebPage"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            tools:ignore="GoogleAppIndexingWarning">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>

        <service
            android:name=".RefreshService"
            android:exported="false"/>
    </application>

</manifest>
